<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Help Engine</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="..\static\styles\main_page.css">
    </head>
    <body>
        <div class="CompanyTitle">
            <h1>Help Engine</h1>
        </div>
        <div class="WelcomeMessage">
            <p>Welcome to Help Engine.</p>
        </div>

        <div class="MentorListContainer">
            <div class="MentorItemContainer">
                <div class="MentorImageContainer">
                    <p>Image goes here</p>
                </div>
                <div class="MentorNameContainer">
                    <p>Mentor Name</p>
                </div>
                <div class="MentorTagsContainer">
                    Mentor Tags
                </div>
            </div>
            <div class="MentorItemContainer">
                <div class="MentorImageContainer">
                    <p>Image goes here</p>
                </div>
                <div class="MentorNameContainer">
                    <p>Mentor Name</p>
                </div>
                <div class="MentorTagsContainer">
                    Mentor Tags
                </div>
            </div>
            <div class="MentorItemContainer">
                <div class="MentorImageContainer">
                    <p>Image goes here</p>
                </div>
                <div class="MentorNameContainer">
                    <p>Mentor Name</p>
                </div>
                <div class="MentorTagsContainer">
                    Mentor Tags
                </div>
            </div>
        </div>
    </body>
</html>