:root {
    --purple: #6f42c1;
    --purple-100: #d1c6e2;
    --purple-200: #b3a6d6;
    --purple-300: #9576c9;
    --purple-400: #7a56bd;
    --purple-500: #6f42c1;
    --purple-600: #6541b8;
    --purple-700: #5a3fae;
    --purple-800: #4f3ea5;
    --purple-900: #453d9c;
}
body {
    background-color: var(--purple-100);
}

.header {
    color: var(--purple-500);
}

.button {
    background-color: var(--purple-700);
    color: white;
}