body {
  margin: 0;
}

.navbar bg-light {
    text-align: center;
}

.header-logo {
    padding: 15%;
    border: None;
}

.options-btn {
    padding: 15%;
    border: None;
}

.options-list {
    font-family: sans-serif;
    font-size: inherit;
    list-style-type: None;
}

.menu-links {
    font-size: inherit;
    color: White;
    text-decoration: None;
}

.menu-links:hover {
    font-size: larger;
    color: #bfffff;
    text-decoration: None;
}

.offcanvas-title {
    color: White;
}

.contacts-list {
    font-family: sans-serif;
    font-size: inherit;
    list-style-type: None;
    text-align: right;
}

.copyright-text {
    font-family: sans-serif;
    color: Black;
    text-align: center;
    align-content: center;
}

.title-contacts-text {
    padding-top: 3%;
    color: Black;
    text-decoration: None;
    text-align: right;
}

.contacts-links ,.contacts-text {
    padding: 0.5%;
    font-size: inherit;
    color: Black;
    text-decoration: None;
    text-align: right;
}

.contacts-links:hover {
    font-size: inherit;
    color: #000080;
    text-decoration: None;
    text-align: inherit;
}

.fixed-bottom {
    padding-top: 5%;
}