.home-body {
    margin: 1%;
    background-color: #eeeeee;
}

.caption-1 {
    justify-content: start;
    align-content: center;
}

.scroll-down {
    display: flex;
    justify-content: center;
    align-items: center;
}

.move-down-button {
    padding: 10% 5%;
}

.sign-up-section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    display: block;
    justify-content: space-evenly;
    align-items: center;
}

.card-title {
    font-family: sans-serif;
    font-size: xxx-large;
    padding-bottom: 1%;
    padding-top: 5%;
}

.button-register {
    display: block;
    padding: 6%;
    align-items: center;
}

.button-register:hover {
    color: inherit;
}


.card-text {
    color: #8bbbbb;
    font-size: large;
    display: block;
    padding-top: 6%;
    padding-bottom: 5%;
    align-self: center;
    justify-self: center;
}
