a {
    text-decoration: none;
    color: #73b5dc;
}

.black-a {
    color: black;
}

.align-content {
    align-content: center;
    text-align: center;
}

.container-form {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
}

.container-light {
    background-color: #f1f1f1;
    padding: 3%;
    border-radius: 10px;
}

.btn-pastel {
    --bs-btn-color: #000000;
    --bs-btn-bg: #c0b3da;
    --bs-btn-border-color: #c6bada;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #c2a8d9;
    --bs-btn-hover-border-color: #c8b5da;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #000000;
    --bs-btn-active-bg: #b095d7;
    --bs-btn-active-border-color: #b29cd7;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000000;
    --bs-btn-disabled-bg: #c5bbdc;
    --bs-btn-disabled-border-color: #c9c0da
}

/* Learnt about filters using:
https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element

filter conversion for the colour code was done by:
https://codepen.io/sosuke/pen/Pjoqqp*/

.pastel-svg {
    filter: invert(77%) sepia(28%) saturate(368%) hue-rotate(170deg) brightness(94%) contrast(93%);
}

.profile-container {
    background-color: #f1f1f1;
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    border-radius: 10px;
}

.profile-divider {
    border-top: 1px solid #dee2e6;
}