body {
    margin: 5%;
    text-align: center;
}

.InitialInfo {
    text-align: center;
    margin: 10%;
}

.CompanyTitle, .WelcomeMessage {
    margin-bottom: 10px;
    margin-top: 10px;
}

.SearchBarContainer {
    margin-top: 15%;
    text-align: center;
}

.SearchSubmitButton {
    border-radius: 8px;
    transition: 0.5s;
    background-color: #b4a7d5;
}

.MentorListContainer {
    display: flex;
}

.card {
    margin-right: 5%;
    margin-top: 5%;
}

.btn btn-primary {
    background-color: #b4a7d5;
}

.ViewMoreButton {
    padding: 10px;
    margin: 55px;
    width: 300px;
    transition: 0.5s;
    background-color: #b4a7d5;
}


.SearchSubmitButton:hover, .ViewMoreButton:hover {
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.225);
    transition: 0.5s;
}