body {
    text-align: center;
    background-color: #eeeeee;
}

.InitialInfo {
    text-align: center;
    margin: 10%;
}

.CompanyTitle, .WelcomeMessage {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10%;
    border-bottom: solid;
    border-color: #9fc5e8;
}

.SearchBarContainer {
    margin-top: 10%;
    text-align: center;
}

.SearchSubmitButton, .ResetSearch {
    border-radius: 8px;
    transition: 0.5s;
    background-color: #b4a7d5;
    border-color: white;
    color: white;
    margin: 1%;
}

.MentorListContainer {
    max-width: 1200px;
    margin: 0 auto 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*padding-left: 10%;*/
}

.card {
    width: calc(100% / 3);
    box-sizing: border-box;
    float: left;
    align-items: center;
    margin-right: 5%;
    margin-top: 5%;
}

.btn-primary {
    background-color: #b4a7d5;
    border: none;
}

.btn-primary:hover {
    background-color: #b4a7d5;
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.225);
    transition: 0.5s;
    border: none;
}

.ViewMoreButton, .BecomeMentor {
    padding: 10px;
    margin-bottom: 5%;
    width: 300px;
    transition: 0.5s;
    background-color: #b4a7d5;
    border-color: white;
    color: white;
}


.SearchSubmitButton:hover, .ViewMoreButton:hover, .BecomeMentor:hover, .ResetSearch:hover {
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.225);
    transition: 0.5s;
}

/* Styles for tablets*/
@media (max-width: 866px) {
    body {
        font-size: 14px;
        display: inline;
        align-content: center;
    }

    .card {
    width: calc(100% / 3);
    float: left;
    justify-content: center;
    margin-right: 5%;
    margin-top: 5%;
}

    .buttonContainer {
        position: relative;
    }

    .ViewMoreButton, .BecomeMentor {
        display: inline;
    }
}

/* Styles for mobile devices*/
@media (max-width: 480px) {
    body {
        font-size: 12px;
        display: inline;
        align-content: center;
    }

    .card {
    width: calc(100% / 3);
    float: left;
    justify-content: center;
    margin-right: 5%;
    margin-top: 5%;
}

    .buttonContainer {
        position: relative;
    }

    .ViewMoreButton, .BecomeMentor {
        display: inline;
    }
}