body {
    text-align: center;
    background-color: #eeeeee;
}

.mentorHeading {
    margin-top: 3%;
    margin-bottom: 3%;
    padding-bottom: 15px;
    border-bottom: solid;
}

.mentorPageContents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.mentorImage {
    padding: 50px;
    background-color: #8f8fcd;
    width: 500px;
    height: 200px;
    margin-bottom: 1%;
}

.applicationHeading {
    border-top: solid;
}